{% extends 'base.html.twig' %}
{% block title 'Administrate categories' %}
{% block body %}
{{ include ('admin/category/_active.html.twig') }}
<div class="container mt-4">
   <h1> Create a category </h1>
  {{ include ('_form.html.twig', { button:'Create'})}}
  
</div>
  



{% endblock %}