#do_action {
  margin-bottom: 50px;
}

#do_action .total_area {
  padding-bottom: 18px !important;
}

#do_action .total_area, #do_action .chose_area {
  border: 1px solid #E6E4DF;
  color: #696763;
  padding: 30px 25px 30px 0;
  margin-bottom: 80px;
}

#do_action .total_area {
  padding-bottom: 18px !important;
}

.total_area{
  padding: 15px !important;
}

.total_area span {
  float: right;
}

.total_area ul li {
  background:#E6E4DF;
  color: #696763;
  margin-top: 10px;
  padding: 7px 20px;
}

.btn-validation{
	margin-top: 15px;
}